.bestlearner-slider {
	position: relative;
}

.bestlearner-slide {
	text-align: center;
	position: relative;
}

.bestlearner-slide-content {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}

.bestlearner-cycle-pager {
	position: absolute;
	bottom: 0;
}
