.lifestyle-slider {
	position: relative;
}

.lifestyle-slide {
	text-align: center;
	position: relative;
}

.lifestyle-slide-content {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}

.lifestyle-cycle-pager {
	position: absolute;
	bottom: 0;
}
