/*==============================
          Main Menu
===============================*/

.bestlearner-main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		@include mq(false, desktop) {
			display: none;
		}

		ul {
			float: left;
			position: absolute;
			top: 35px;
			left: -999em;
			z-index: 99999;
			background: $white;

			ul {
				left: -999px;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			&:hover > a,
			&.focus > a {
				color: $color__link-hover;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__link-hover;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 10px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $color__link-hover;
	}
}

/* Small menu. */
.menu-toggle {
	display: none;

	@include mq(false, desktop) {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 24px;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-list {
	display: flex;
	list-style-type: none;
	padding: 0;
	height: 100%;
	justify-content: center;
	.menu-list__item {
		font-weight: 600;
		padding: 0 1px;
		a {
			font-size: 14px;
			display: flex;
			align-items: center;
			height: 100%;
			color: #fff;
			opacity: 0.8;
			font-family: 'Times New Roman', Times, serif;
			padding: 0 10px;
			&:hover {
				opacity: 1;
				transition: 0.5s;
				background: #33ba36;
			}
		}
		@media (min-width: 320px) and (max-width: 600px) {
			padding: 0;
		}
	}

	a.menu-item-active {
		opacity: 1;
		border-bottom: solid 2px #fff;
		background: #33ba36;
		@media (min-width: 320px) and (max-width: 600px) {
			opacity: 1;
			border: 0;
		}

		@media (min-width: 600px) and (max-width: 1024px) {
			opacity: 1;
		}
	}

	.menu-list__item--square {
		font-size: 1.5rem;
		height: 3rem;
		width: 3rem;
		align-items: center;
		display: flex;
		justify-content: center;
		border-radius: 2px;
		margin: 0 2px;
		a {
			color: #fff;
		}
	}
}
