.footer {
	background-color: #5f5f5f;
	color: #eceff1;
}

.footer__footer-top {
	padding: 20px;
	font-family: 'Raleway Semi-Bold';
	display: flex;

	@media (min-width: 320px) and (max-width: 1024px) {
		flex-direction: column;
		width: 100%;
	}
}

.footer__footer-bottom {
	background-color: #0006;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-box {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding:0 10px;
	img {
		resize: both;
		width: 30px;
		height: 30px;
	}

	a {
		margin-top: 10px;
		width: auto;
		color:#fff;
	}

	@media (min-width: 320px) and (max-width: 1024px) {
		width: 100%;
		padding:10px 0;
	}
	.button--default {
		background-color: #33ba36;
	}
	.button--subscribe {
		width: 100%;
		padding: 10px;
		font-weight: 600;
		color: #fff;
		border: solid 1px #33ba36;
		background-color: #33ba36;
		&:hover{
			background:#33ba35e5;
		}
	}

}

.footer-box__title {
	margin-bottom: 10px;
	font-size: 17px;
	color: #fff;
	opacity: 0.8;
	display: grid;
}

.caption-text {
	line-height: 5mm;
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
	opacity: 0.7;
	a{
		font-weight: 600;
		color:#000;
		opacity: 0.8;
		&:hover{
			color:#33ba36;
			opacity: 1;
		}
	}
}

.footer-bottom__social {
	width: 100%;
	padding: 0 5px;
	@media (min-width: 320px) and (max-width: 1024px) {
		padding: 10px;
	}
}

.figure-contributors {
	height: 12rem;
	width: 100%;
}

.input-box {
	background: #fff;
	border: solid 1px #fff;
	opacity: 0.8;
}

.input-box::placeholder {
	color: #5f5f5f;
	opacity: 0.6;
}

.map-container {
	height: 13rem;
	width: 100%;
	height: 210px;
	border: solid 1px #90a3ac;
}

.map-container__google-map {
	width: 100%;
	height: 100%;
}

.bestlearner-back-to-top {
	display: none;
	position: fixed;
	bottom: 1.875rem;
	right: 1.875rem;
	z-index: 100;
	width: 3.125rem;
	height: 3.125rem;
	font-size: 1.125rem;
	border: solid 2px #33ba36;
	outline: none;
	background-color: #33ba36;
	cursor: pointer;
	padding: 0.3125rem;
	border-radius:50%;
	&:hover {
		i{
			font-size:25px;
			padding-bottom:5px;
		}
	}
	i{
		font-size:25px;
	}

}

.footer-copy-text {
	margin-top: 10px;
	font-size: 10px;
	@media (min-width: 320px) and (max-width: 1024px) {
		margin-top: 0;
	}
}

.progress-bar{
	height: 3px;
	position: fixed;;
	width:100%;
	border:none;
	z-index:500;
	border-radius: 0;
	bottom: 0;
}
