.footer {
	background-color: #b0bec5;
	color: #eceff1;

	@media (min-width: 320px) and (max-width: 1024px) {
		padding: none !important;
	}
}

.footer__footer-top {
	padding: 20px 0 20px 20px;
	font-family: 'Raleway Semi-Bold';
	display: flex;

	@media (min-width: 320px) and (max-width: 1024px) {
		flex-direction: column;
		width: 100%;
	}
}

.footer__footer-bottom {
	background-color: #78909c;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-box {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 0.625rem 20px 5px 0;

	img {
		resize: both;
		width: 30px;
		height: 30px;
	}

	a {
		margin-top: 10px;
		width: auto;
	}

	@media (min-width: 320px) and (max-width: 1024px) {
		width: 100%;
		padding: 0.625rem 20px 5px 0;

	}
}

.footer-box__title {
	margin-bottom: 10px;
	font-size: 17px;
	color: #455a64;
	display: grid;
}

.caption-text {
	line-height: 5mm;
	font-size: 14px;
	color: #eceff1;
	margin-bottom: 10px;
}

.footer-bottom__social {
	width: 30%;
	padding: 0 5px;	
	@media (min-width: 320px) and (max-width: 1024px) {
		width: 100%;
		padding: 10px;
	}
}

.figure-contributors {
	height: 12rem;
	width: 100%;
}

.input-box {
	color: white !important;
	background: #607d8b;
	border: solid 1px #607d8b !important;
}

.input-box::placeholder {
	color: #fff;
	opacity: 0.6;
}

.map-container {
	height: 13rem;
	width: 100%;
	height: 210px;
	border: solid 1px #90a3ac;
}

.map-container__google-map {
	width: 100%;
	height: 100%;
}

.bestlearner-back-to-top {
	display: none;
	position: fixed;
	bottom: 1.875rem;
	right: 1.875rem;
	z-index: 100;
	width: 3.125rem;
	height: 3.125rem;
	font-size: 1.125rem;
	border: solid 2px #33ba36;
	outline: none;
	background-color: #33ba36;
	cursor: pointer;
	padding: 0.3125rem;
	border-radius:50%;
	&:hover {
		i{
			font-size:25px;
			padding-bottom:5px;
		}
	}
	i{
		font-size:25px;
	}

}

.footer-copy-text {
	margin-top: 10px;
	font-size: 10px;
}
