.site-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.site-title {
	margin-bottom: 5px;
}

.site-description {
	margin-bottom: 0;
}

//-----------BestLearner---------------//
html,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
div {
	margin: 0;
}

@font-face {
	font-family: "Notera_PersonalUseOnly";
	src: url('../fonts/Notera_PersonalUseOnly.ttf');
}

.header {
	background-color: #fff;
	border-bottom: 1px solid #e3e8e4;
	font-family: 'Raleway Semi-Bold';
	height: 150px;

	@media (min-width: 320px) and (max-width: 1024px) {
		height: auto;
	}
}

.header__top-header {
	background-color: #fff;
	width: 100%;
	height: 100px;
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #c0c4c0ea;
	padding: 0 30px 0 30px;

	@media (min-width: 320px) and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		position: relative;
		height: auto;
		padding: 0;
	}
}

.top-header__link {
	display: flex;
	justify-content: flex-end;
	width: 30%;

	a {
		font-weight: 600;
		margin-left: 10px;
	}

	@media (min-width: 320px) and (max-width: 600px) {
		width: 100%;
		height: 100%;
		padding: 5px;
		justify-content: space-evenly;
		border-top: 5px solid #eceff1;
	}
	@media (min-width: 600px) and (max-width: 1024px) {
		width: 100%;
		height: 100%;
		padding: 5px;
		justify-content: flex-end;
	}
}

.header__bottom-header {
	display: flex;
	justify-content: space-evenly;
	height: 50px;
	background-color: #5f5f5f;
	padding: 0 30px 0 30px;
	box-shadow: 1px 3px 0.375rem rgba(57, 73, 76, 0.35);

	@media (min-width: 320px) and (max-width: 600px) {
		visibility: hidden;
		height: 0;
		display: none;
	}
	@media (min-width: 600px) and (max-width: 1024px) {
		padding: 0 10px 0 10px;
	}
}

.header__bottom-header.active {
	padding: 0;
	height: auto;
	display: block;
	visibility: visible;
}

.bottom-header__nav {
	@media (min-width: 320px) and (max-width: 600px) {
		width: 100%;
		ul {
			flex-direction: column;
			li {
				height: 40px;
				border-top: solid 1px #eceff1;
				&:hover {
					background-color: #33ba36;
				}
				a{
					justify-content: center;
					padding: 0;
				}
			}
		}
	}

	@media (min-width: 600px) and (max-width: 1024px) {
		width:100%;
		ul {
			display: flex;
			justify-content: flex-start;
			overflow-x: auto;
		}
	}

}

.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.top-header__search {
	display: flex;
	width: 40%;
	height: 40px;

	@media (min-width: 320px) and (max-width: 1024px) {
		width: 98%;
		margin: 10px;
	}

	input{
		background: #eceff1;
		margin: 0;
	}

	.top-header__search__box {
		height: 100%;
	}

	.top-header__search__button {
		font-size: 20px;
		width: 20%;
	}
}

.logo-container {
	width: 30%;
	text-align: center;

	@media (min-width: 320px) and (max-width: 1024px) {
		text-align: center;
		padding: 10px 10px 10px 0;
		width: 100%;
	}
}

.logo {
	font-size: 40px;
	font-family: "Lucida Console", Times, serif;

	a {
		color:#5f5f5f;
		text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	}

	@media (min-width: 320px) and (max-width: 600px) {
		font-size: 30px;
	}
}

.logo-slogan {
	font-size: 12px;
	color: #33ba36;

	&::after {
		content: '';
		width: 30px;
		height: 2px;
		display: inline-block;
		background-color: #5f5f5f;
		margin: 0 2px;
	}

	&::before {
		content: '';
		width: 30px;
		height: 2px;
		display: inline-block;
		background-color: #5f5f5f;
		margin: 0 2px;
	}
}

.button--border {
	border: solid 1px #33ba36;
	color: #33ba36;
	width: 80px;
}

.deactive {
	display: none;

	@media (min-width: 320px) and (max-width: 600px) {
		display: block;
	}
}

/*
	popup scss.
*/
.model {
	visibility: hidden;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background:rgba(#f7f9fa,0.8);
	.model-box {
		background-image: linear-gradient(360deg, #6c6c6d 0%, rgba(0, 0, 0, 0.849) 90%);
		width: 40%;
		height: auto;
		transform: translate(75%, 20%);
		box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);

		@media (min-width: 320px) and (max-width: 600px) {
			width: 100%;
			transform: translate(0%, 18%);
			height: auto;
		}
	}

	.model-box__content {
		padding: 10px;
		color: #fff;
		p {
			margin-top: 10px;
		}
	}

	.model-box__content__form {
		padding: 5% 8%;

		textarea,
		text,
		select,
		button {
			width: 100%;
			margin-top: 10px;
		}

		textarea {
			height: 80px;
		}

		select,
		text,
		button {
			height: 40px;
		}

		textarea,
		input,
		select {
			background: #fff;
			opacity: 0.9;
			border: solid 1px #fff;
		}
		button {
			border:0;
		}
	}

	.close-icon {
		background: #f00;
		color: #fff;
		border: solid 1px #f00;
		padding: 5px 10px;
		float: right;
	}

	.g-recaptcha {
		margin-top: 0.625rem;
		justify-content: center;
		display: flex;
	}
}

.model.active {
	/*displays pop-up when "active" class is present*/
	visibility: visible;
	text-align: center;
}

.user-icon {
	width: 40px;
	border-radius: 50%;
	border: 2px solid #33ba36;
}
.user-name {
	display: none;
}
.progress {
	position: fixed;
	z-index: 9999;
	background-color: #33ba36;
	width:0%;
	height:3px;
}
