body {
	margin: 0;
	background-color: #eceff1;
	font-family: 'Raleway Semi-Bold';
}

.main {
	display: flex;
	align-items: center;
	flex-flow: column;
	margin: auto;

	@media (min-width: 320px) and (max-width: 1024px) {
		padding: 10px;
	}
}

hr {
	margin-bottom: 10px;
	width: 100%;
	min-height: 1px;
	background-color: #e7e4e4;
	border: 0;
}

.hr-line--green {
	margin-bottom: 10px;
	width: 100%;
	height: 2px;

	background-color: #e7e4e4;
	border: 0;

	&::after {
		content: '';
		display: block;
		border-bottom: 2px solid #33ba36;
		max-width: 20%;
	}
}

.section {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px;

	@media (min-width: 320px) and (max-width: 1024px) {
		flex-direction: column;
		padding: 0;
	}

}

.box-container {
	color: #424242;
	margin: 0 30px 0 30px;
	width: 55%;

	@media (min-width: 320px) and (max-width: 600px) {
		width: 100%;
		margin: 0;
	}

	@media (min-width: 600px) and (max-width: 1024px) {
		width: 100%;
		margin: 0;
	}
}

.box-contents {
	word-wrap: break-word;
	padding: 25px;
}

.box-contents__title {
	font-size: 17px;
	margin-top: 10px;
	color: #40535c;

	a {
		color: #40535c;
	}
}

.box-contents__author {
	margin: 10px 0 20px 0;
	font-size: 8px;
	font-family: 'Raleway Regular';
}

.box-contents__description {
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	word-spacing: 1mm;
	line-height: 1.6;
	word-wrap: break-word;

	a {
		color: #e65100;
	}

	p,
	ul,
	li {
		color: #455a64;
		padding-bottom: 10px;
	}
}

.post-feature-type {
	margin-top: -10px;
	font-size: 10px;

	a {
		color: #e65100;
	}
}

.box-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;

	a {
		color: #fff;
		font-weight: 600;
	}

	@media (min-width: 320px) and (max-width: 600px) {
		flex-direction: column;
	}
}

.box-action__tags {
	padding: 0;
	display: flex;

	@media (min-width: 320px) and (max-width: 1024px) {
		word-break: break-all;
		font-size: 10px;
	}
}

.box-action-social {
	display: flex;
	justify-content: flex-start;

	@media (min-width: 320px) and (max-width: 1024px) {
		margin-top: 10px;
	}
}

.post-tag {
	background: #b0bec5;
	border: inset 1px #b0bec5;
	list-style-type: none;
	font-size: 12px;
	margin-right: 5px;
	padding: 5px 10px;
	word-wrap: break-word;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;

	a {
		color: #eceff1;
	}
}

.post-tag--bg-color-facebook {
	background: #3b5998;
	border: inset 1px #3b5998;
}

.post-tag--bg-color-twitter {
	background: #38a1f3;
	border: inset 1px #38a1f3;
}

.post-tag--bg-color-tumblr {
	background: #34526f;
	border: inset 1px #34526f;
}

.post-tag--bg-color-rss {
	background: #c77202;
	border: inset 1px #c77202;
}

.post-tag--bg-color-instagram {
	border: inset 1px #f09433;
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.post-tag--bg-color-linkedin {
	background: #3578b5;
	border: inset 1px #3578b5;
}

.post-tag--bg-color-youtube {
	background: #e13a2f;
	border: inset 1px #e13a2f;
}

.reader-count {
	background: #33ba36;
	border: inset 1px #33ba36;
	padding: 5px 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;

	@media (min-width: 320px) and (max-width: 1024px) {
		display: none;
	}
}

.sidebar-right {
	width: 250px;

	@media (min-width: 320px) and (max-width: 1024px) {
		justify-content: center;
		width: 100%;
	}
}

.sidebar-left {
	width: 250px;

	@media (min-width: 320px) and (max-width: 1024px) {
		justify-content: center;
		width: 100%;
	}
}

.box-sidebar {
	padding: 0px;

	ul li a {
		color: #3c4043;
	}
}

.popular-post {
	width: 100%;
	margin-bottom: 10px;

	a {
		color: #40535c;
		font-weight: 400;

		&:hover {
			color: #33ba36;
		}
	}

}

.author-profile {
	display: flex;
	flex-direction: column;
}

.figure-author__dp {
	width: 40px;
	height: 40px;
}

.author-contents {
	width: 100%;
	padding: 20px;
}

a.author-url  {
	color: #607d8b;
	font-weight: 400;
	font-size: 10px;
}

.popular-post-contents {
	font-size: 12px;
	color: #424242;
}

.popular-post-time {
	font-size: 10px;
}

.popular-post-bg-author {
	margin: 0px;
	font-size: 10px;
	margin-left: 10px;
}

.categories-items {
	padding: 0;
	font-size: 12px;

	li {
		list-style-type: none;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #e7e4e4;
	}
}

.about {
	flex-direction: column;
	width: 80%;

	@media (min-width: 320px) and (max-width: 1024px) {
		width: 100%;
	}
}

.introduction {
	margin: 10px 0 10px 0;
}

.about-me-more {
	line-height: 8mm;
	font-size: 13px;
	margin: 20px 0 20px 0;
}

.comment-post {
	display: flex;
	box-direction: row;
	margin-bottom: 10px;
}

.comment-post-contents {
	font-size: 13px;
	color: #424242;
	padding-left: 10px;
	width: 100%;
}

.pagination {
	background-color: #fff;
	padding: 20px;
	padding-bottom: 40px;
	margin-bottom: 30px;

	@media (min-width: 320px) and (max-width: 600px) {
		font-size: 12px;
	}
}

.row-wise {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 10px 0;

	@media (min-width: 600px) and (max-width: 1024px) {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	@media (min-width: 320px) and (max-width: 600px) {
		align-items: center;
		flex-direction: column;
	}
}

.col {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #313131;
}

a:hover {
	color: #33ba36
}

.float-icon {
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 20px;
	display: flex;
	color: #fff;
	border: 1px #33ba36 outset;
	justify-content: center;
	align-items: center;
	background-color: #33ba36;
}

.box {
	background-color: #fff;
	margin-bottom: 30px;
	border: solid 1px #e7e4e4;

	@media (min-width: 320px) and (max-width: 1024px) {
		width: 100%;
	}
}

.box--box-buttom-border {
	border-left: solid 0.625rem #33ba36;
}

.box-round {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 40px 40px 0;
		border-style: solid;
		border-color: #33ba36 #33ba36 #fff #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	}
}

.box__img {
	width: 100%;
	height: 300px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 2px;
}

.green {
	color: #33ba36;
}

.form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 20px 0 20px 0;
}

.button {
	border: none;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.button--default {
	color: #fff !important;
	background-color: #33ba36;
}

.button--green {
	border: solid 1px #33ba36;
	color: #33ba36;
	font-weight: 600;
	transition: 0.5s;

	&:hover {
		color: #fff;
		background-color: #33ba36;
	}

	@media (min-width: 320px) and (max-width: 600px) {
		color: #fff;
		background-color: #33ba36;
	}

}

.button--subscribe {
	width: 100%;
	height: 40px;
	font: 17px;
	font-weight: 400;
	padding: 5px;
	font-weight: 600;
	color: #fff !important;
	border: solid 1px #33ba36;
	background-color: #33ba36;
}

.background-color--green {
	background-color: #33ba36;
}

.reply-right {
	font-weight: 600;
	float: right;
}

.text {
	color: #607d8b;
}

.text--uppercase {
	text-transform: uppercase;
}

.line-break {
	display: block;
	;
}

.figure {
	margin: 0;
}

.deactive {
	display: none;

	@media (min-width: 320px) and (max-width: 600px) {
		display: block;
	}
}

.author-name {

	a {
		font-weight: 600;
		color: #33ba36;
		text-decoration: underline;
	}
}

.comment-post-user {
	width: 50px;
	height: 40px;
}

.author-item {
	font-size: 12px;

	.author-item-dp {
		width: 30px;
	}
}
